body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.MainContents {
  width: 30%;
  background: #f4f4f4;
  float: left;
  height: 100vh;
  overflow: auto;
}

.Logo {
  padding: 15px;
  background-color: aliceblue;
}

.Search {
  padding: 15px;
  background-color: beige;
}
.Search input{
  padding: 10px;
  font-size: 16px;
  width: 80%;
}
.Search button {
  padding: 10px;
  font-size: 15px;
  margin-left: 10px;
}
.Radius {
  padding: 15px;
  background-color: azure;
}

.MaskList {
  padding: 15px;
  background-color: rgb(211, 211, 211);
}
.store {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f4f4f4;
}

.Test {
  width: 250px;
  height: 150px;
  position: absolute;
  background-color: rgb(255, 240, 209);
  top: 0;
  right: 0;
  z-index: 9;
  font-size: 12px;
}
#map {
  width: 70%;
  height: 100vh;
}

